{% extends 'base.html' %}

{% block 'content' %}

    <div class="flex">
        <div class="w-2/12 h-[91vh] bg-slate-100">
            <div class="flex flex-col">
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Dashboard</a>
                <a href="{% url 'manageAdmission' %}" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Admission</a>
                <a href="{% url 'manageStudent' %}" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Students</a>
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Staffs</a>
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Teachers</a>
                <a href="{% url 'manageClasses' %}" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Classes</a>
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Batchs</a>
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Attendance</a>
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Manage Payments</a>
                <a href="" class="hover:bg-slate-200 bg-slate-100 px-2 py-3 w-full">Settings</a>
            </div>
        </div>
        <div class="w-10/12">
            {%block 'admin-content' %}{%endblock%}
        </div>
    </div>

{% endblock 'content' %}